<footer class="page-footer grey darken-4">
    <div class="container"></div>
    <div class="row">
        <div class="footer-left col l6 s12">
            <h6 class="white-text">Company Bio</h6>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our
                full time job. Any amount would help support and continue development on this project and is greatly
                appreciated.</p>
            <p>Made by G. Pappas</p>
        </div>
        <div class="footer-center col l3 s12">
            <h6 class="white-text">Contact</h6>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> 21 Revolution Street</li>
                <li><i class="fas fa-map-marker-alt"></i> Athens, Greece</li>
                <li><i class="fas fa-phone-alt" style="color:cadetblue;"></i> +1 555 123456</li>
                <li><i class="fas fa-mobile-alt" style="color:cadetblue;"></i> +1 555 123456</li>

            </ul>
        </div>
        <div class="footer-right col l3 s12">
            <h6 class="white-text">Media-Email</h6>
            <div class="footer-icons">
                <a href="/contact"><i class="fas fa-envelope" style="color:mintcream;"></i></a>
                <a href="#"><i class="fab fa-facebook" style="color:#30A4F0;"></i></a>
                <a href="#"><i class="fab fa-instagram" style="color:red;"></i></a>
                <a href="#"><i class="fab fa-twitter" style="color:#33CEFF;"></i></a>
            </div>
        </div>
    </div>
    </div>
</footer>