<nav class="sticky-nav">
  <div class="nav-wrapper grey darken-3">
    <a href="/" class="brand-logo"><img src="/images/logos/GePapp-Logo.png" alt="Logo"></a>
    <a href="#" data-target="mobile" class="sidenav-trigger"><i class="fas fa-bars"></i>
      <ul class="right hide-on-med-and-down">
        <li><a href="/shop">Shop</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">link1</a></li>
        <li><a href="#">link2</a></li>
      </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile">
  <li><a href="/shop">Shop</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="#">link1</a></li>
  <li><a href="#">link2</a></li>
</ul>