<ul id="slide-out" class="sidenav sidenav-fixed">
    <div class="user-view">
        <img src='/images/logos/GePapp-Logo.png' alt="Logo">
    </div>
    <li><a href="/dashboard"><i class="fas fa-tools" style="color:green;"></i>Dashboard</a></li>
    <li><a href="/comics"><i class="fas fa-book" style="color:orange;"></i>Comics</a></li>
    <li><a href="/categories"><i class="fas fa-book" style="color:rgb(0, 4, 255);"></i>Categories</a></li>
    <li><a href="/lines"><i class="fab fa-line" style="color:rgb(0, 255, 213);"></i>Lines</a></li>
    <li><a href="/users"><i class="fas fa-address-book" style="color:rgb(107, 189, 175);"></i>Users</a></li>
    <li><a href="/users/signup"><i class="fas fa-registered" style="color:Lightsteelblue;"></i>Sign Up</a></li>
    <!-- logout -->
    <li><a href="/users/logout"><i class="fas fa-power-off" style="color:red;"></i>Logout</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="fas fa-bars fa-2x" style="color:dimgray;"></i></a>