<div class="container">
    <div class="row">

        <div class="center-align" style="margin-top: 30%">
            <img src='/images/dashboard/dashboard.png' alt="Dashboard">
        </div>

    </div>
</div>