<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <table class="highlight">

                <thead>
                    <tr>
                        <th colspan='2'>C a t e g o r i e s</th>
                    </tr>

                    <tr>
                        <th colspan='2' class="add-button">
                            <a href="/categories/add" class="btn btn-small">New</a>
                        </th>
                    </tr>

                    <tr>
                        <th>Name</th>
                        <th>Modify</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each categories}}
                    <tr>
                        <td>{{categoryName}}</td>
                        <td class="td-buttons">
                            <a href="/categories/{{_id}}" class="btn btn-small orange">Upd</a>
                            {{!-- IMPORTANT: csrfToken in each loop, use ../csrfToken instead csrfToken --}}

                            {{!-- use method-override to be ablle to use form with delete or put methods --}}
                            <form action="/categories/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_csrf" value="{{../csrfToken}}" />
                                <button class="btn red accent-4 btn-small" type="submit">DEL</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </div>
</div>