/* home page */

/* set flex display to remain footer in bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}

main {
    flex: 1 0 auto;
}

header,
main,
footer {
    padding-left: 181px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}
.shopnav {
    padding-top: 10px;
    width: 180px;
    background-color: rgb(51, 51, 51);
    color: white !important;
    transition: all 200ms linear;
}
.shopnav .user-view {
    position: relative;
    padding: 10px;
    margin-bottom: 8px;
}
.shopnav li:hover {
    background-color: rgb(71, 71, 71) !important;
}

.shopnav li > a {
    color: white !important;
    padding-left: 20px;
}
.user-view {
    font-weight: bold;
}
.user-view i {
    margin: 0 10px 0 0;
}

.collapsible-body ul {
    background-color: rgb(51, 51, 51);
    color: white !important;
}

#shopnavTrigger {
    visibility: hidden;
    margin-left: 14px;
}
@media only screen and (max-width: 992px) {
    #shopnavTrigger {
        visibility: visible;
    }
}

/* footer */
footer.page-footer {
    margin: 0;
    position: absolute;
}
footer.page-footer .footer-center ul li {
    padding: 6px;
}
footer.page-footer .footer-icons {
    margin-top: 30px;
}
footer.page-footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* shop search field */
.row .col {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* card */
.card-title {
    font-size: 1rem !important;
    font-weight: bold !important;
}
.card-image img {
    max-width: 50%;
    max-width: 50%;
}
.card-content {
    font-size: 1rem !important;
}
.comic-show {
    width: 100%;
    height: auto;
}

/* pagination */
.pagin-div {
    margin-top: 30px;
}
